<mat-list>
  <span *ngIf="(todos.length == 0)">
      <h3 mat-subheader>0 todo found on your list</h3>
  </span>
  <span *ngIf="(todos.length > 0)">
      <h3 mat-subheader>You have ({{todos.length}}) todo<span *ngIf="(todos.length > 0)">s</span> in your list.</h3>
      <mat-list-item *ngFor="let todo of todos">
        <mat-icon mat-list-icon>watch_later</mat-icon>
        <h4 mat-line>{{todo.title}}</h4>
        <p mat-line> {{todo.description}} </p>
        <span style="position:relative; right: 35x">
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon mat-list-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button (click)="openEditDialog(todo._id)" mat-menu-item>Edit</button>
            <button (click)="deleteItem(todo._id)" mat-menu-item>Delete</button>
          </mat-menu>
        </span>
        <mat-divider></mat-divider>
      </mat-list-item>
  </span>
</mat-list>